01_reproduction_of_ouazad_and_kahn/hmda/*
01_reproduction_of_ouazad_and_kahn/output/*
02_evidence_of_data_errors_in_LPW_2024_Table_7/downloads/*
02_evidence_of_data_errors_in_LPW_2024_Table_7/census_shapefiles/*
03_flaws_in_the_independent_replication_table_8/lacour_little_data_archive_initial_submission.zip
03_flaws_in_the_independent_replication_table_8/downloads/*
*.fls
*.log
*.aux
*.fdb_latexmk
*.synctex.gz
*.shp
*.shx
*.dbf
*.prj
*.out
.DS_Store
01_reproduction_of_ouazad_and_kahn/external_data/zillow_data_long_by_zip_1996_2019.rds
.Rhistory
*.xml
*.cpg
*.sbn
*.sbx
*.shp.xml
*.lof
*.lot
*.toc
*.rds